body {
	background-color: linen;
}

canvas {
	background-color: white;
}

h2 {
	margin-left: auto;
	margin-right: auto;
}

#vars {
	position: absolute;
}

#presets { 
	position: absolute;
	left: 275px;
	top: 46px;
}

#modes {
	position: absolute;
	left: 275px;
	top: 140px;
}

#grSettings {
	position: absolute;
	left: 450px;
	top: 46px;
}

#CopyL {
	position: relative;
	left: 90px;
}

#CopyR {
	position: relative;
	left: 247px;
}

#lGraph {
	position: absolute;
	left: 0px;
	top: 100px;
}

#LxMin, #LxMax, #LyMin, #LyMax, #LScale {
	white-space: nowrap;
	padding-bottom: 5px;
}

#LxMinBox, #LxMaxBox, #LyMinBox, #LyMaxBox, #LScaleBox {
	position: absolute;
	left: 50px;
}

#rGraph {
	position: absolute;
	left: 225px;
	top: 100px;
}

#RxMin, #RxMax, #RyMin, #RyMax, #RScale {
	white-space: nowrap;
	padding-bottom: 5px;
}

#RxMinBox, #RxMaxBox, #RyMinBox, #RyMaxBox, #RScaleBox {
	position: absolute;
	left: 50px;
}

#graphs {
	position: relative;
	top: 160px;
}

#clear {
	position: relative;
	left: 560px;
}